vendor
node_modules

# composer.lock
# package-lock.json

web/.env
web/build
web/build/css
web/build/js
!web/build
# !web/build/fonts
# !web/build/fonts/iconfont.woff
# !web/build/fonts/iconfont.woff2
src/icons/