@font-face {
    font-family: "iconfont";
    src:    url('../fonts/iconfont.woff2') format('woff2'),
            url('../fonts/iconfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: "iconfont";
    font-style: normal;
    display: inline-block;
}

.icon-bluesky:before {
    content: '\f101';
    font-size: 32px;
}

.icon-facebook:before {
    content: '\f102';
    font-size: 32px;
}

.icon-github:before {
    content: '\f104';
    font-size: 32px;
}

.icon-linkedin:before {
    content: '\f105';
    font-size: 32px;
}

.icon-mastodon:before {
    content: '\f107';
    font-size: 32px;
}

.icon-reddit:before {
    content: '\f108';
    font-size: 32px;
}